@import "../../variables";

.about-section {
  height: $section-height;
  display: flex;
  flex-direction: column;

  .about-title {
    text-align: center;
    font-size: 2rem;
    margin: 5px;
  }

  .about-content {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .image-section {
    display: flex;
    justify-content: center;

    .image {
      height: 70%;
      object-fit: cover;
      width: 520px;
      margin-top: 0;
    }
  }

  .text-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 12px;

    .top-title {
      color: deepskyblue;
    }

    .margin {
      margin: 0;
    }

    .sub-title {
      font-size: 17px;
      font-family: "Poppins";
    }

    .border-bottom {
      border-bottom: 2px solid rgba(255, 255, 255, 0.08);
      margin-bottom: 0;
      padding-bottom: 29px;
    }

    .contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }

    .padding-top {
      padding-top: 20px;
    }
  }
}
