@import "../../variables";

.contact-form {
  max-width: 700px;
  padding-top: 0px;

  &__group {
    margin-bottom: $extra-large;
  }

  &__group:first-child {
    padding-top: $medium;
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: $small;
  }

  &__input,
  &__textarea {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding: $medium;
    font-size: 1rem;
  }

  &__textarea {
    height: 100px;
    resize: vertical;
  }

  &__button {
    padding: $medium $extra-large;
    font-size: 1rem;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border: none;
    cursor: pointer;
    background-color: deepskyblue;
  }

  &__submit {
    margin-bottom: $extra-large;
  }

  &__sent,
  &__error {
    display: inline-block;
    margin-left: $medium;
  }
}
