@import "../../variables";

.footer {
  background-color: black;
  margin: 0;
  text-align: center;
  height: 46px;

  &__copyright {
    align-content: center;
  }

  &__text {
    font-size: small;
  }

  &__link {
    text-decoration: none;
    font-size: small;
  }
}
