// Breakpoints
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;

// Margins and paddings
$small: 5px;
$medium: 10px;
$large: 15px;
$extra-large: 20px;

$footer-height: 45.5px;
$navbar-height: 75px;

$section-height: calc(100dvh - $navbar-height - $footer-height);

// Dark mode:
$background-color: black;
$main-text-color: white;
$highlight-color: deepskyblue;
$social-icons-color: #333;
$sub-text-color: rgb(180, 180, 180);
