@import "../../variables";

.resume-section {
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  height: $section-height;
  flex-direction: column;

  .resume-title {
    text-align: center;
    font-size: 2rem;
    margin: 5px;
  }

  .sticky-heading {
    position: sticky;
    z-index: 5;
    font-size: 48px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 0;
    justify-self: left;
  }

  .resume-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

h4 {
  margin-top: 0px;
}

h3 {
  margin-bottom: 5px;
}
