@import "../../variables";

.experience {
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  flex-direction: column;
  min-height: $section-height;

  &__title {
    text-align: center;
    font-size: 2rem;
    margin: $small;
  }

  &__sticky-heading {
    position: sticky;
    z-index: 5;
    font-size: 48px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 0;
    justify-self: left;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

@media (max-width: $tablet) {
  .experience {
    margin-bottom: $large;
  }
}
