@import "../../variables";

.contact {
  display: flex;
  min-height: $section-height;
  flex-direction: column;

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--info {
      padding-left: $extra-large;
    }
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    margin: $small;
  }

  &__message-title,
  &__info-title {
    margin-bottom: $medium;
  }

  &__main {
    display: flex;
    flex: 1;
    width: 80%;
    align-self: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding-top: $small;

    &-description {
      margin-top: 0;
      padding-top: $small;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $large;
    padding-top: 30px;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__sub-text {
    margin: 0;
  }
}

@media (max-width: $tablet) {
  .contact__main {
    flex-direction: column;
  }

  .contact__column--info {
    padding-left: 0px;
  }

  .contact {
    padding-bottom: $large;
  }
}
